@import "../globalStyles.scss";
.HeroSection {
  position: absolute;
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  width: 100%;
  z-index: -1;

  &::-webkit-scrollbar {
    width: 0px;
  }

  & .text {
    margin-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    & h1 {
      font-family: $Main-font;
      color: #fff;
      text-align: center;
      font-size: 25vh;
    }

    & span {
      display: flex;
      justify-content: center;
      color: #fff;
      font-family: $Text-font;
      font-size: $Text-Medium;
      text-transform: uppercase;
      font-weight: 300;
      letter-spacing: 20px;
    }
  }

  & .pattern {
    position: absolute;
    width: 100vw;
    display: flex;
    justify-content: center;
    top: 25vh;
    z-index: -1;

    & img {
      width: 60vw;
    }
  }

  & .reg_button {
    margin-top: 1.5rem;
    & .signUp_btn {
      margin-top: 5vh;
      font-weight: $Font-Regular;
      font-family: $Text-font;
      font-size: $Text;
      letter-spacing: 5px;
      transition: 0.4s;

      &:hover {
        scale: 1.2;
      }
    }

    & .BtnShadow {
      filter: blur(6vh);
      opacity: 0.5;
    }
  }

  & .ImageSection {
    z-index: -1;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20vh;
    margin-bottom: 20vh;

    & .vs_code {
      width: 80vw;
      box-shadow: 0 8vh 16vh rgba(0, 0, 0, 0.75);
      border-radius: 3vh;
    }

    & .vs_logo,
    & .github {
      position: absolute;
      height: 150px;
    }

    & .vs_logo {
      top: -10vh;
      left: 5vw;
    }

    & .github {
      bottom: -8vh;
      height: 100px;
      right: 25vw;
    }

    & .codeBlob1,
    & .codeBlob2 {
      filter: blur(20vh);
      opacity: 0.5;
    }

    & .codeBlob1 {
      left: 5vw;
      margin-top: -30vh;
    }

    & .codeBlob2 {
      right: 5vw;
      margin-bottom: -30vh;
    }

    & .animation {
      position: absolute;
      right: 5vw;
    }

    & .Tagline {
      & .line1,
      & .line2 {
        background-color: #fff;
        padding: 3vh 8vh;
        font-family: $Text-font;
        font-weight: 700;
        font-size: $Text-Medium;
        position: absolute;
        z-index: 1;
        width: auto;
        border-radius: 5vh;
        letter-spacing: 2.5px;
      }

      & .line1 {
        color: #009525;
        border: 5px solid #009525;
        top: -5vh;
        right: 10vw;
      }

      & .line2 {
        background-color: #ff00ae;
        color: #ffffff;
        border: 5px solid #ffffff;
        bottom: -5vh;
        left: 10vw;
      }
    }
  }
}
